{{> header }}

<h1>{{department.name}} details</h1>

<form method="post" action="/settings/departments/delete/{{ department.id }}/">
  <div class="row">
    <div class="col-md-3 lead">
      Department details
    </div>
    <div class="col-md-1 col-md-offset-8">
      <button id="remove_btn" type="submit" class="pull-right btn btn-danger single-click" data-toggle="tooltip"
        data-placement="top" title="Remove department"><i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
</form>

<div class="row">&nbsp;</div>

{{> show_flash_messages }}

<div class="col-md-3 list-group">
  <a href="/settings/departments/edit/{{department.id}}/" class="list-group-item selected-item">General details</a>
  <a href="/users/?department={{ department.id }}" class="list-group-item">Employees from department</a>
</div>

{{> department_details/general }}

<div class="row">&nbsp;</div>

<!-- Add Secondary Supervisors Button -->
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add_secondary_supervisers_modal"
      data-department_id="{{department.id}}" data-department_name="{{department.name}}">
      Add Secondary Supervisors
    </button>
  </div>
</div>

<!-- Add Secondary Supervisors Modal -->
<div class="modal fade" id="add_secondary_supervisers_modal" tabindex="-1" role="dialog"
  aria-labelledby="addSecondarySuperviserModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addSecondarySuperviserModalLabel">Add Secondary Supervisors for <strong></strong>
        </h4>
      </div>
      <div class="modal-body">
        <!-- Content will be loaded dynamically -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{> footer }}

<script>
  function isDarkModeEnabled() {
    return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
  }

  function applyDarkModeStyles(modal) {
    if (isDarkModeEnabled()) {
      modal.find('.modal-content').css({
        'background-color': '#333',
        'color': '#fff'
      });
      modal.find('.modal-header, .modal-footer').css({
        'border-color': '#444'
      });
      modal.find('.close').css({
        'color': '#fff'
      });
      modal.find('.btn-default').css({
        'background-color': '#555',
        'color': '#fff',
        'border-color': '#777'
      });
    }
  }

  function initializeModal() {
    console.log('Initializing modal');
    $('#add_secondary_supervisers_modal').on('show.bs.modal', function (event) {
      console.log('Modal show event triggered');
      var button = $(event.relatedTarget);
      var departmentId = button.data('department_id');
      var departmentName = button.data('department_name');
      console.log('Department ID:', departmentId);
      console.log('Department Name:', departmentName);

      var modal = $(this);
      modal.find('.modal-title strong').text(departmentName);

      // Apply dark mode styles if necessary
      applyDarkModeStyles(modal);

      // Show loading indicator
      modal.find('.modal-body').html('<p class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading supervisors...</p>');

      // Fetch supervisors data
      $.ajax({
        url: '/settings/departments/available-supervisors/' + departmentId + '/',
        method: 'GET',
        success: function (data) {
          console.log('Supervisors data fetched successfully');
          modal.find('.modal-body').html(data);

          // Re-apply dark mode styles to the newly loaded content
          if (isDarkModeEnabled()) {
            modal.find('.modal-body').css({
              'color': '#fff'
            });
            modal.find('.list-group-item').css({
              'background-color': '#444',
              'border-color': '#555',
              'color': '#fff'
            });
          }
        },
        error: function (xhr, status, error) {
          console.error('Error fetching supervisors:', error);
          modal.find('.modal-body').html('<p class="text-danger">Error loading supervisors. Please try again.</p>');
        }
      });
    });
  }

  function waitForJQuery(callback, timeout = 30000, interval = 100) {
    var startTime = Date.now();

    function checkJQuery() {
      if (window.jQuery) {
        console.log('jQuery is available');
        callback();
      } else if (Date.now() - startTime < timeout) {
        setTimeout(checkJQuery, interval);
      } else {
        console.error('jQuery did not load within ' + timeout + 'ms');
      }
    }

    checkJQuery();
  }

  waitForJQuery(initializeModal);
</script>